<%- contentFor('content') %>

<p>Welcome to the <strong>Fantastic Airlines</strong> database manipulation page! This database is used for tracking our fleet, scheduling plane flights and tickets, and storing data on our pilots and passengers.</p>
<p>Please use the nav bar above to select what you wish to manipulate.</p>