<%- contentFor('content') %>

<div class="border p-3 mt-3">
  <form method="POST" action="/planes">
    <legend><strong>Add Plane</strong></legend>

    <div class="row">
      <div class="col">
        <label>Model Name</label>
        <select name="model_id" class="form-select">
          <% for (const model of models) { %>
            <option value="<%= model.model_id %>"><%= model.model_name %></option>
          <% } %>
        </select>
      </div>

      <div class="col">
        <label>Mileage</label>
        <input type="text" name="mileage" class="form-control" />
      </div>
    </div>

    <div class="col">
      <div class="mt-3">
        <input class="btn btn-primary" type="submit" value="Add Plane">
        <input class="btn btn-secondary" type="button" value="Cancel" onClick="javascript:history.back()">
      </div>
    </div>
  </form>
</div>